.welcomeContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sp-l);
  gap: var(--sp-l);
  background-color: var(--bc-section);
  margin-bottom: var(--sp-l);
  box-shadow: inset var(--sh-ce);
}

.welcomeText {
  font-size: 2.5rem;
  color: var(--bc-primary);
  font-weight: normal;
}

.playerInfo {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: var(--sp-m);
  border-radius: 500px 0 0 500px;
  background-color: var(--bc-card);
  box-shadow: var(--sh-ce);
}

.playerName {
  padding: 0 var(--sp-m);
}

.roomContainer {
  display: flex;
  align-items: start;
}

.createButton {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: var(--sp-l);
  font-size: 2.5rem;
  padding: 20vh var(--sp-ll);
  background-color: var(--bc-primary);
  color: var(--bc-bg);
  border-radius: 0 var(--rd-l) var(--rd-l) 0;
  box-shadow: var(--sh-bg);
  background-image: var(--anime-border-image);
  background-size: var(--anime-border-sizes);
  animation: var(--anime-border);
}

.createButtonIcon {
  font-size: 4rem;
}

.roomList {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: var(--sp-m);
  padding: 0 var(--sp-l);
}
