* {
  margin: 0;
  padding: 0;
  font-family: "Dela Gothic One", sans-serif;
}

body {
  color: var(--bc-text);
}

:root {
  --bc-primary: #00b8d4;
  --bc-primary-grass: #00b8d47c;
  --bc-secondary: #b2ebf2;
  --bc-card: #ffffff;
  --bc-section: #f0fdfd;
  --bc-main: #e1f5fe;
  --bc-text: #263238;
  --bc-subtext: #546e7a;
  --bc-accent: #ffea00;
  --bc-bg: #ffffff;
  --bc-shadow: #00000040;
  --bc-dissable: #b0bec5;

  --sp-lll: 100px;
  --sp-ll: 50px;
  --sp-l: 30px;
  --sp-m: 20px;
  --sp-s: 10px;
  --sp-ss: 5px;

  --max-width: 1200px;
  --sp-out: var(--sp-m); /* 外側のスペース */

  --sh-rg: 3px 3px 3px var(--bc-shadow);
  --sh-bt: 0px 3px 3px var(--bc-shadow);
  --sh-ce: 0px 0px 10px var(--bc-shadow);
  --sh-bg: 0 4px 20px var(--bc-shadow);
  --sh-bg-hv: 0 4px 20px var(--bc-primary);

  --rd-s: 0.25rem;
  --rd-m: 0.5rem;
  --rd-l: 1rem;
  --rd-xl: 2rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: start;
}
